@charset "utf-8";
html,body{
	height: 100%;
	margin: 0px;
	padding: opx;
}

body{
	display: flex;
	flex-direction:column;
	text-align: center;
	
}
.cabecalho{
	background-color: black;
	color: white;	
}
.conteudo{
	flex: 1 0 auto;
	background-color: lightblue;
	font-family: "Open Sans, sans serif";
	font-weight:100;
}
.forma{
	font-style: bold;
	font-family: "Open Sans, sans serif";
	font-size: 25px;
	padding:90px;
	width: 90%;
	text-align:left;
	
}

input[type=text]{
  border: none;
  color: black;
  width: 50%;
  padding: 8px 32px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: auto;
}

input[type=button]{
  text-decoration: none;
	background-color: #000000;
	padding: 5px 10px 5px 10px;
	border-radius: 5px;
	color:#fff;
	font-size: 20px;
	font-weight:700;
}

#coluna11{
	bacground-color: blue;
	width: 100%;
	float:left;
	
}

#coluna1{
	bacground-color: blue;
	width: 30%;
	float:left;
	
}
#coluna2{
	bacground-color: blue;
	width: 70%;
	float:left;
}

.botao{
	text-decoration: none;
	background-color: #000000;
	padding: 5px 10px 5px 10px;
	border-radius: 5px;
	color:#fff;
	font-size: 1.5em;
	font-weight:500;
	
}

.rodape {
	flex-shrink:0;
	background-color: black;
  	color: white;
}

#customers {
  font-family: Arial;
  border-collapse: collapse;
  width: 100%;
  padding: 1px;
}

#customers td, #customers th {
  border: 1px solid #ddd;
  padding: 10px;
}

#customers tr:nth-child(even){background-color: #f2f2f2;}

#customers tr:hover {background-color: #ddd;}

#customers th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: black;
  color: white;
}
